.company {
    padding-left: 380px;
    padding-top: 20px;
    padding-right: 325px;
}

.title_company {
    color: rgb(228, 125, 0);
    font-size: 40px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    display: flex;
    width: 500px;
}

.column {
    font-size: 60px;
}

.company_list {
    list-style-type: none;
    display: inline;
}

.hiii {
    display: inline;
}

.form {
    border: 3px solid #4f3b1e;
    padding: 30px;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    background-color: rgb(79 59 30);
    padding-left: 699px;
    margin: 110px;
    margin-left: 775px;
    margin-right: 38%;
}

.logo {
    height: 30px;
    width: 200px;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    text-align: center;
    font-size: medium;
}

.img {
    border: 2px solid blueviolet;
    margin-top: 20px;
    width: fit-content
}