.car {
    padding-left: 380px;
    padding-top: 20px;
    padding-right: 325px;
}

.title_car {
    color: rgb(228, 125, 0);
    font-size: 40px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    display: flex;
    width: 500px;
}

.column {
    font-size: 60px;
}

.car_list {
    list-style-type: none;
    display: inline;
}

.car_add_form {
    text-align: center;
}

.form {
    border: 3px solid #4f3b1e;
    padding: 30px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: rgb(250, 250, 250);
    margin: 110px;
    margin-right: 50%;
    margin-left: 40%;
    width: fit-content;
}