* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_form {
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    position: absolute;
    border: 1px solid black;
    padding: 20px;
}

.Button {
    padding-top: 20px;
}

.input_field {
    padding-top: 20px;
    color: brown
}