    .main {
        border: 1px solid black;
        text-align: center;
        display: flex;
        width: fit-content;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        min-height: 13vh;
        min-width: 13vh;
    }
    
    .center {
        width: 100px;
    }